

.footer{
    background-color: var(--secondary-black);
}


.footer-wrap{
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer .menu-item{
    color: var(--primary-gray);
}